<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a>
            <img src="./assets/images/icon_zuci.jpg" class="me-3" alt="Logo">
        </a>
        <!-- <button class="navbar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                        Home
                    </a>
                </li>
                <li>
                    <a  class="nav-link" routerLink="/account/package-details" routerLinkActive="active">
                        Play
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="(accountService.user$|async)=== null">
                <li class="nav-item" >
                    <a href="" class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">
                        create account
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="btn btn-secondary "routerLink="/account/login" routerLinkActive="active">
                        Login
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center" *ngIf="(accountService.user$|async) as user">
                <a class="text-white" style="cursor:pointer;">
                    Hi <span classs="h3 text-warning">
                        {{user.fullName|titlecase}}
                    </span>
                </a>
                <a  class="btn btn-dark ms-2" (click)="logout()">
                    LogOut
                </a>

            </div>
        </div>
     
    </div>
</nav>
</header>
